@(elements: helper.FieldElements)

@**************************************************
* Generate input according bootsrap rules *
**************************************************@
<div class="form-group clearfix @if(elements.hasErrors) {has-error}">
    <label for="@elements.id" class="col-sm-2 control-label">
        @elements.label
    </label>
    <div class="input col-sm-10">
        @elements.input
        <div class="help-block error">@elements.errors.mkString(", ")</div>
    </div>
</div>
