@(games: List[Game])

@main("", games) {

    @if(games.isEmpty()) {
        <div class="well">
            <em>No games configured for the service.</em>
        </div>

    } else {
        <div class="row">
            @for(game <- games) {
                <div class="col-lg-4">
                    <h2>@game.getName()</h2>
                    <p>Facebook Payments: @game.getSummary().getTotalFbTransactions(), Pending: @game.getSummary().getPendingFbTransactions()</p>
                    <p>Apple Payments: @game.getSummary().getTotalIosTransactions(), Pending: @game.getSummary().getPendingIosTransactions()</p>
                    <p>Google Payments: @game.getSummary().getTotalGpTransactions(), Pending: @game.getSummary().getPendingGpTransactions()</p>
                    <p>AWS Visible: @game.getSummary().getNumVisibleMessages(), Invisible: @game.getSummary().getNumInvisibleMessages()</p>
                </div>
            }
        </div>
    }
}
