@(gameForm: Form[Game], editMode: Boolean)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@if(editMode) {
@inputText(gameForm("id"), '_label -> "Game ID", 'class -> "form-control", 'readoly -> "true")
} else {
@inputText(gameForm("id"), '_label -> "Game ID", 'class -> "form-control")
}

@inputText(gameForm("name"), '_label -> "Game Name", 'class -> "form-control")
@checkbox(gameForm("production_mode"), '_label -> "Production Mode")
@inputText(gameForm("apiToken"), '_label -> "Api Token", 'class -> "form-control")

@inputText(gameForm("emailSender"), '_label -> "Email Sender", 'class -> "form-control")
@inputText(gameForm("emailRecipient"), '_label -> "Email Recipient", 'class -> "form-control")

<p class="bg-info">AWS Settings</p>
@select(gameForm("awsRegionName"), options(Game.getAvailableRegions()), '_label -> "Region", 'class -> "form-control")
@inputText(gameForm("awsAccessKey"), '_label -> "Access Key", 'class -> "form-control")
@inputText(gameForm("awsSecretKey"), '_label -> "Secret Key", 'class -> "form-control")
@inputText(gameForm("awsSqsUrl"), '_label -> "SQS URL", 'class -> "form-control")

<p class="bg-info">iOS Settings</p>
@checkbox(gameForm("iosTestMode"), '_label -> "Test Mode")
@inputText(gameForm("iosUpsightApiKey"), '_label -> "Upsight Api Key", 'class -> "form-control")
@checkbox(gameForm("iosUpsightTestServer"), '_label -> "Upsight Test Server")

<p class="bg-info">Google Play Settings</p>
@textarea(gameForm("gpAppPublicKey"), '_label -> "App Public Key", 'class -> "form-control")
@inputText(gameForm("gpUpsightApiKey"), '_label -> "Upsight Api Key", 'class -> "form-control")
@checkbox(gameForm("gpUpsightTestServer"), '_label -> "Upsight Test Server")

<p class="bg-info">Facebook Settings</p>
@inputText(gameForm("fbAppId"), '_label -> "App Id", 'class -> "form-control")
@inputText(gameForm("fbAppSecret"), '_label -> "App Secret", 'class -> "form-control")
@inputText(gameForm("fbUpsightApiKey"), '_label -> "Upsight Api Key", 'class -> "form-control")
@checkbox(gameForm("fbUpsightTestServer"), '_label -> "Upsight Test Server")

<p class="bg-info">Products Info</p>
@textarea(gameForm("productsXml"), '_label -> "Products Xml", 'class -> "form-control", 'readonly -> "true")
@inputFile(gameForm("productsXmlFile"), '_label -> "Products Xml File")