@(games: List[Game], id: String, gameForm: Form[Game])


@main("Update Game: " + id, games) {

<form class="form-horizontal" method="POST" enctype="multipart/form-data">

    @gameFormFields(gameForm, true)

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" formaction="@routes.GameController.update(id)" class="btn btn-primary">Update</button>
            <button type="submit" formaction="@routes.GameController.delete(id)" class="btn btn-danger">Delete</button>
        </div>
    </div>

</form>

}