@(games: List[Game], gameForm: Form[Game])


@main("Create New Game", games) {

    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
    <fieldset>
        @gameFormFields(gameForm, false)
    </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" formaction="@routes.GameController.save()" value="Create this Game" class="btn btn-primary">
            <a href="@routes.GameController.list()" class="btn btn-info">Cancel</a>
        </div>
    </div>

    </form>
}